<body>
  <footer class="bg-dark text-light py-4 fixed-bottom">
    <div class="container text-center">
      <p>&copy; 2024 Developer Community</p>
    </div>
  </footer>
  <script src="/js/bootstrap.min.js"></script>
</body>
