<%- include ("partials/header.ejs") %> <%- include ("partials/navbar.ejs") %>
<section class="py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h1 class="display-4">Welcome to Developer Community</h1>
        <p class="lead">
          A place for developers to connect, collaborate, and learn together.
        </p>
        <a href="#" class="btn btn-dark btn-lg">Join Now</a>
      </div>
    </div>
  </div>
</section>

<section class="bg-light py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto text-center">
        <h2>Goals</h2>
        <p>
          The goal of Developer Community is to provide a platform for software
          developers to connect, collaborate, and share knowledge. We believe
          that by facilitating the exchange of ideas and experiences among
          community members, we can strengthen each other and drive growth and
          innovation in the technology industry.
        </p>
      </div>
    </div>
  </div>
</section>
<%- include ("partials/footer.ejs") %>
